*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(35, 34, 34);
}

img{
    max-width: 100%;

}

/*  common */
.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ul{
    list-style: none;
}

/* carousel------------------------------------------------------------------------------- */
.carousel{
    width: 80%;
    max-width: 1300px;
    height: 700px;
    display: flex;
    box-shadow: 0px 0px 20px black;
}

.carousel-main{
    width: 80%;
    height: 100%;
    background-color: rgb(28, 27, 27);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}



.carousel-main ul{
    width: 100%;
    height: 100%;

}

.slide{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 1s opacity ease-in-out;
    z-index: 1;
}

li.active{
    opacity: 1;
    transition: 2s opacity ease-in;
}

.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.carousel-preview{
    height: 100%;
    width: 20%;
    position: relative;
}

.img-container{
   height: calc(100% / 5);
   position: relative;
   cursor: pointer;

}

.img-container img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 200ms;
}

.overlay:hover{
    opacity: 0;
}

/* active funcionality */
div.active>div{
    background-color: transparent;
    border: 2px solid #fff;
    transition: 200ms;
}

.active{
    display: block;
}


/* buttons */
.btn{
   width: 50px;
   height: 35px;
   background-color: transparent;
   line-height: 35px;
   text-align: center;
   border-radius: 10px;
   position: absolute;
   z-index: 3;
   left: 50%;
   transform: translate(-50%);
   cursor: pointer;
   transition: .3s;
   color: rgba(255, 255, 255, .5);
}

.next-btn{
    bottom:0px;
}

.btn:hover{
    background-color: rgba(255, 255, 255, .5);
    color: rgba(0, 0, 0, 0.7);
}
.btn:active{
    transform: translate(-50%) scale(1.1);
    background-color: rgba(255, 255, 255, .9);
    transition: 0s;
}

/* autoplay buttons styling */
.autoplay-comands{
    display: flex;
    margin-bottom: 1rem;
    background-color: rgb(46, 45, 45);
    border-radius: 50px;
    padding: 1rem .5rem; 
    width: 30%;
    height: 80px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px black;
}

#hidden{
    opacity: 0;
}

.autoplay-comands i{
    font-size: 50px;
    opacity: .5;
    transform: scale(.9);
    position: absolute;
}

.btn-stop-play{
    width: 50px;
    border-radius: 50%;
    height: 50px ;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 200ms;
    position: relative;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.589);
    
}

.btn-stop-play:hover i{
    opacity: 1;
    cursor: pointer;
}

.btn-stop-play:active{
    transform: scale(.9);
}


/* img animation on hover of container------------------------------------------ */

.carousel-main:hover .slide>img{
    animation: image-loop 20s ease-in infinite;
}

/* si l ho fatto davvero tornassi indietro non lo rifarei */
@keyframes image-loop {
    /* imposto posizione di partenza */
    0%{
        opacity: 0;
        transform: scale(1.5) translateX(0%) translateY(10%);
    }
    /* inizio animazione */
    5%{
        opacity: 1;
        transform: scale(1.5) translateX(0%) translateY(10%);
    }

    15%{
        opacity: 1;
        transform: translateX(20%) scale(1.5) translateY(10%);
    }
    20%{
        opacity: 0;
        transform: translateX(20%) scale(1.5) translateY(10%);
    }
    /* fine prima animazione */

    /* reset nuova posizione */
    25%{
        opacity: 0;
        transform: translateX(0%) translateY(0%)scale(1);
    }
    /* inizio seconda animazione */
    30%{
        opacity: 1;
        transform: translateX(0%) translateY(0%)scale(1);
    }
    40%{
        opacity: 1;
        transform: translateX(-20%) translateY(15%) scale(1.5);
    }
    45%{
        opacity:0;
        transform: translateX(-20%) translateY(15%)scale(1.5);
    }
    /* fine seconda animazione */

    /* reset nuova posizione */
    50%{
        opacity: 0;
        transform: translateX(-20%) translateY(-20%) scale(1.6);
    }
    /* inizio terza animazione */
    55%{
        opacity: 1;
        transform: translateX(-20%) translateY(-20%) scale(1.6);
    }
    65%{
        opacity: 1;
        transform: translateX(-20%) translateY(10%) scale(1.6);
    }
    70%{
        opacity: 0;
        transform: translateX(-20%) translateY(10%) scale(1.6);
    }
    /* fine terza animazione */

    /* resetto posizione */
    75%{
        opacity: 0;
        transform: translateX(30%) translateY(15%) scale(1.8);
    }
    /* inizio quarta animazione */
    80%{
        opacity: 1;
        transform: translateX(30%) translateY(15%) scale(1.8);
    }
    90%{
        opacity: 1;
        transform: translateX(-10%) translateY(15%) scale(1.4);
    }
    95%{
        opacity: 1;
        transform: translateX(-10%) translateY(15%) scale(1.4);
    }
    /* fine quarta animazione */
    100%{
        opacity: 0;
        transform: translateX(-10%) translateY(15%) scale(1.4);
    }
}

